.body {
    background: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    flex: 1;
}

.carport-form {
    display: flex;
    flex-direction: column;
}

.shed-length-tooltip, .shed-width-tooltip {
    visibility: hidden;
    background: #333;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    width: 200px;
    font-size: 16px;
    z-index: 10;
}

.shed-fields {
    display: none;
}

#withShed:checked ~ .shed-fields {
    display: block;
}

.shed-length:hover .shed-length-tooltip {
    visibility: visible;
}

.shed-width:hover .shed-width-tooltip {
    visibility: visible;
}


