.index-body{
    background: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex: 1;
}

.middle{
    text-align: center;
}

.index-logo{
    width: 300px;
    height: 300px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem
}

.buttons a {
    background: silver;
    border: solid 2px black;
    border-radius: 4px;
    text-decoration: none;
    padding: .5rem;
}

