<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FogCarport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

<h1>Flag</h1>

<svg width="127" height="105" viewBox="0 0 255 210">
    <rect x="0" y="0" height="90" width="90"
          style="stroke:#000000; fill: #0051ff"/>
    <rect x="120" y="0" height="90" width="135"
          style="stroke:#000000; fill: #0051ff"/>
    <rect x="0" y="120" height="90" width="90"
          style="stroke:#000000; fill: #0051ff"/>
    <rect x="120" y="120" height="90" width="135"
    style="stroke:#000000; fill: #0051ff"/>
    <rect x="90" y="0" width="30" height="210"
          style="fill:yellow"/>
    <rect x="0" y="90" width="255" height="30"
          style="fill:yellow"/>
</svg>

<svg width="210" height="210">
    <rect x="0" y="0" height="200" width="200"
          style="stroke:black; fill: white"/>
    <circle cx="50" cy="50" r="50"
            style="stroke:black; fill: white"/>
    <circle cx="150" cy="50" r="50"
            style="stroke:black; fill: white"/>
    <circle cx="50" cy="150" r="50"
            style="stroke:black; fill: white"/>
    <circle cx="150" cy="150" r="50"
            style="stroke:black; fill: white"/>

</svg>

</body>
</html>