<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Carport - FogCarport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

<div th:replace="~{fragments :: headerFragment}"></div>

<main>
    <section class="body-style align-items-center" >
        <h1 class="center-text">Indtast mål til din carport</h1>
        <form class="carport-form" th:action="@{/carport/create-carport}" method="post">

            <label for="carportWidth">Vælg bredde:</label>

            <select name="carportWidth" id="carportWidth" required="">
                <option selected=""></option>
                <option value="240">240 cm</option>
                <option value="270">270 cm</option>
                <option value="300">300 cm</option>
                <option value="330">330 cm</option>
                <option value="360">360 cm</option>
                <option value="390">390 cm</option>
                <option value="420">420 cm</option>
                <option value="450">450 cm</option>
                <option value="480">480 cm</option>
                <option value="510">510 cm</option>
                <option value="540">540 cm</option>
                <option value="570">570 cm</option>
                <option value="600">600 cm</option>
            </select>

            <label for="carportlength">Vælg længde:</label>

            <select name="carportLength" id="carportlength" required="">
                <option selected=""></option>
                <option value="240">240 cm</option>
                <option value="270">270 cm</option>
                <option value="300">300 cm</option>
                <option value="330">330 cm</option>
                <option value="360">360 cm</option>
                <option value="390">390 cm</option>
                <option value="420">420 cm</option>
                <option value="450">450 cm</option>
                <option value="480">480 cm</option>
                <option value="510">510 cm</option>
                <option value="540">540 cm</option>
                <option value="570">570 cm</option>
                <option value="600">600 cm</option>
                <option value="630">630 cm</option>
                <option value="660">660 cm</option>
                <option value="690">690 cm</option>
                <option value="720">720 cm</option>
                <option value="750">750 cm</option>
                <option value="780">780 cm</option>
            </select>

            <label for="carportheight">Vælg højde:</label>

            <select name="carportHeight" id="carportHeight" required="">
                <option value="225">225 cm</option>
            </select>

            <div class="shed-fields-align">
                <input class="shedCheckbox" type="checkbox" name="withShed" id="withShed">
                <label for="withShed">Redskabskur</label>

                <div class="shed-fields">
                    <p>Bemærk! Der indregnes et  15 cm. tagudhæng på hver side af små carporte på/under 330 cm og 35 cm. på større carporte. <br>
                    Eksempel: For en carport på 480x480, er maksimum længden eller bredden på et skur 410 cm. <br>
                    Efterlad 240 cm. på enten siden eller længden af skuret, for at have plads til bil: 240x240.<br>
                    Hvis det er for lidt plads til gennemgang på siden af skuret, vil skur bredden automatisk blive tilpasset max bredden på carport. <br>
                    </p>
                    <label for="shedWidth">Skur bredde:</label>
                    <div class="shed-selects">
                        <select name="shedWidth" id="shedWidth">
                            <option selected=""></option>
                            <option value="120">120 cm</option>
                            <option value="150">150 cm</option>
                            <option value="180">180 cm</option>
                            <option value="210">210 cm</option>
                            <option value="240">240 cm</option>
                            <option value="270">270 cm</option>
                            <option value="300">300 cm</option>
                            <option value="330">330 cm</option>
                            <option value="360">360 cm</option>
                            <option value="390">390 cm</option>
                            <option value="420">420 cm</option>
                            <option value="450">450 cm</option>
                            <option value="480">480 cm</option>
                            <option value="510">510 cm</option>
                            <option value="540">540 cm</option>
                            <option value="570">570 cm</option>
                        </select>
                    </div>

                    <label for="shedlength">Skur længde:</label>
                    <div class="shed-selects">
                        <select name="shedLength" id="shedlength">
                            <option selected=""></option>
                            <option value="120">120 cm</option>
                            <option value="150">150 cm</option>
                            <option value="180">180 cm</option>
                            <option value="210">210 cm</option>
                            <option value="240">240 cm</option>
                            <option value="270">270 cm</option>
                            <option value="300">300 cm</option>
                            <option value="330">330 cm</option>
                            <option value="360">360 cm</option>
                            <option value="390">390 cm</option>
                            <option value="420">420 cm</option>
                            <option value="450">450 cm</option>
                            <option value="480">480 cm</option>
                            <option value="510">510 cm</option>
                            <option value="540">540 cm</option>
                            <option value="570">570 cm</option>
                            <option value="600">600 cm</option>
                            <option value="630">630 cm</option>
                            <option value="660">660 cm</option>
                            <option value="690">690 cm</option>
                            <option value="720">720 cm</option>
                            <option value="750">750 cm</option>
                        </select>

                    </div>
                </div>
            </div>

            <label for="customerWishes">Særlige ønsker eller evt. bemærkninger</label>
            <textarea class="customer-wishes" name="customerWishes" id="customerWishes"></textarea>

            <p th:if="${session.carportErrorLabel != null}" th:text="${session.carportErrorLabel}"></p>
            <button class="button" type="submit">Se Tegning</button>

        </form>
    </section>
</main>

<div th:replace="~{fragments :: footerFragment}"></div>

</body>
</html>
