<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FogCarport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" href="/css/carport.css" th:href="@{/css/carport.css}"/>
</head>
<body>

<main>
    <section class="body">
        <h1>Indtast mål til din carport</h1>
        <form th:action="@{/carport/create-carport}" method="post" class="carport-form">

            <label for="carportWidth">Vælg bredde:</label>

            <select name="carportWidth" id="carportWidth" required="">
                <option selected=""></option>
                <option value="240">240 cm</option>
                <option value="270">270 cm</option>
                <option value="300">300 cm</option>
                <option value="330">330 cm</option>
                <option value="360">360 cm</option>
                <option value="390">390 cm</option>
                <option value="420">420 cm</option>
                <option value="450">450 cm</option>
                <option value="480">480 cm</option>
                <option value="510">510 cm</option>
                <option value="540">540 cm</option>
                <option value="570">570 cm</option>
                <option value="600">600 cm</option>
            </select>

            <label for="carportlength">Vælg længde:</label>

            <select name="carportLength" id="carportlength" required="">
                <option selected=""></option>
                <option value="240">240 cm</option>
                <option value="270">270 cm</option>
                <option value="300">300 cm</option>
                <option value="330">330 cm</option>
                <option value="360">360 cm</option>
                <option value="390">390 cm</option>
                <option value="420">420 cm</option>
                <option value="450">450 cm</option>
                <option value="480">480 cm</option>
                <option value="510">510 cm</option>
                <option value="540">540 cm</option>
                <option value="570">570 cm</option>
                <option value="600">600 cm</option>
                <option value="630">630 cm</option>
                <option value="660">660 cm</option>
                <option value="690">690 cm</option>
                <option value="720">720 cm</option>
                <option value="750">750 cm</option>
                <option value="780">780 cm</option>
            </select>

            <label for="carportheight">Vælg højde:</label>

            <select name="carportHeight" id="carportHeight" required="">
                <option value="225">225 cm</option>
            </select>

            <div>
                <input type="checkbox" name="withShed" id="withShed">
                <label for="withShed">Redskabskur</label>


                <div class="shed-fields">
                    <p>Bemærk! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet</p>
                    <label for="shedWidth">Skur bredde:</label>
                    <div class="shed-width">
                        <select name="shedWidth" id="shedWidth">
                            <option selected=""></option>
                            <option value="120">120 cm</option>
                            <option value="150">150 cm</option>
                            <option value="180">180 cm</option>
                            <option value="210">210 cm</option>
                            <option value="240">240 cm</option>
                            <option value="270">270 cm</option>
                            <option value="300">300 cm</option>
                            <option value="330">330 cm</option>
                            <option value="360">360 cm</option>
                            <option value="390">390 cm</option>
                            <option value="420">420 cm</option>
                            <option value="450">450 cm</option>
                            <option value="480">480 cm</option>
                            <option value="510">510 cm</option>
                            <option value="540">540 cm</option>
                            <option value="570">570 cm</option>
                        </select>

                        <div class="shed-width-tooltip">
                            Bemærk! skur bredde må ikke være bredere end carporten, <br>
                            isåfald sættes bredde til det samme på tegningen <br>
                            vi beregner som standard minimum 240x240 til carport
                        </div>
                    </div>

                    <label for="shedlength">Skur længde:</label>
                    <div class="shed-length">
                        <select name="shedLength" id="shedlength">
                            <option selected=""></option>
                            <option value="120">120 cm</option>
                            <option value="150">150 cm</option>
                            <option value="180">180 cm</option>
                            <option value="210">210 cm</option>
                            <option value="240">240 cm</option>
                            <option value="270">270 cm</option>
                            <option value="300">300 cm</option>
                            <option value="330">330 cm</option>
                            <option value="360">360 cm</option>
                            <option value="390">390 cm</option>
                            <option value="420">420 cm</option>
                            <option value="450">450 cm</option>
                            <option value="480">480 cm</option>
                            <option value="510">510 cm</option>
                            <option value="540">540 cm</option>
                            <option value="570">570 cm</option>
                            <option value="600">600 cm</option>
                            <option value="630">630 cm</option>
                            <option value="660">660 cm</option>
                            <option value="690">690 cm</option>
                            <option value="720">720 cm</option>
                            <option value="750">750 cm</option>
                        </select>

                        <div class="shed-length-tooltip">
                            Bemærk, skur længde må ikke være længere end carporten, <br>
                            isåfald sættes længden til det samme <br>
                            vi beregner som standard minimum 240x240 til carport<br>
                        </div>
                    </div>
                </div>
            </div>

            <label for="customerWishes">Særlige ønsker eller evt. bemærkninger</label>
            <textarea name="customerWishes" id="customerWishes"></textarea>

            <p th:if="${session.carportErrorLabel != null}" th:text="${session.carportErrorLabel}"></p>
            <button type="submit">Se Tegning</button>

        </form>
    </section>
</main>


</body>
</html>
