<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FogCarport - Kontakt info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" href="/css/contact.css" th:href="@{/css/contact.css}"/>
</head>
<body>

<main class="contact-body">
    <form th:action="@{/contact}" method="post" class="contact-form">
        <h1>Indtast din kontakt information</h1>

        <label for="firstname">Fornavn</label>
        <input type="text" id="firstname">

        <label for="lastname">Efternavn</label>
        <input type="text" id="lastname">

        <label for="email">Email</label>
        <input type="text" id="email">

        <label for="phonenumber">Tlf nummer</label>
        <input type="text" id="phonenumber">

        <label for="street">Gade</label>
        <input type="text" id="street">

        <label for="housenumber">Husnummer</label>
        <input type="text" id="housenumber">

        <label for="zipcode">Postnr</label>
        <input type="text" id="zipcode">

        <label for="city">By</label>
        <input type="text" id="city">

        <button type="submit">Send</button>
    </form>
</main>

</body>
</html>