<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FogCarport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" href="/css/drawing.css" th:href="@{/css/drawing.css}"/>

</head>
<body>


<div th:replace="~{fragments :: headerFragment}"></div>

<main>
    <section class="body-style align-items-center">
        <h1>Vejledende Tegning af din Carport</h1>

        <div class="carport-svg-topview">
            <div th:utext="${svg}"></div>
        </div>

        <div class="buttons">
            <a class="customer-button" href="carport.html" th:href="@{/carport}">Ret Mål</a>
            <a class="employee-button" href="contact.html" th:href="@{/contact}">Indhent Tilbud</a>
        </div>
    </section>

</main>
<div th:replace="~{fragments :: footerFragment}"></div>
</body>
</html>